name: Update README

on:
  schedule:
    - cron: "*/5 * * * *" # every 5 minutes (UTC)
  push:
    branches:
      - master
  workflow_dispatch: # manual trigger (IMPORTANT)

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate README.md
        uses: teoxoy/profile-readme-stats@master
        with:
          token: ${{ secrets.USER_TOKEN }}
          includeForks: true

      - name: Commit and Push changes
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git config user.name "Jeet Wasti"
            git config user.email "wastijeet110@gmail.com"
            git add .
            git commit -m "Update README"
            git push
          else
            echo "No changes to commit"
          fi
